<h1>Listing users</h1> 
  <% if notice%>
  <p id="notice"><%= notice %></p>
  <%end%>


<table>
  
    <tr>
      <th>Name</th> 
      <th></th>
      <th></th> 
      <th></th>
    </tr>
  <tbody>
    <% @user1s.each do |user1| %>
      <tr>
        <td><%= user1.name %></td>
        
        <td><%= link_to 'Show', user1 %></td>
        <td><%= link_to 'Edit', edit_user1_path(user1) %></td>
        <td><%= link_to 'Destroy', user1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user1_path %>
