<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user1.name %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @user1.password_digest %>
</p>

<%= link_to 'Edit', edit_user1_path(@user1) %> |
<%= link_to 'Back', user1s_path %>
