<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class ='<%= controller.controller_name%>'>
  <div id = 'banner'>        
	<%=image_tag("logo.png") %>
	<%= @page_title || t('.title') %>
   <div class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language<span class="caret" id="select"></span></a>
        <ul class="dropdown-menu">
              <li><%= link_to "English", :locale=>'en'%></li>
              <li><%= link_to "Tieng Viet", :locale=>'vi'%></li>
        </ul>
      </div>
  </div>
  <div id ='colums'>
  	<div id = 'side'>
      <div id="cart">
          <% unless @cart.line_items.empty? %>
            <%= render @cart %>
          <%end%>    
      </div>

  		<ul>
  			<li>
  				<%= link_to t('.Home'), store_url%>
  			</li>
  			<li>
  				<a href=""><%= t('.Question')%></a>
  			</li>
  			<li>
  				<a href=""><%= t('.New')%></a>
  			</li>
  			<li>
  				<a href=""><%= t('.Contact')%></a>
  			</li>
  		</ul>
      <%if session[:user1_id] %>
        <ul>
          <li><%link_to 'Orders', orders_path%></li>
          <li><%link_to 'Products', products_path%></li>
          <li><%link_to 'Users', user1s_path%></li>
          <%= button_to "Log Out", logout_path, method: :delete %>
        </ul>
      <%end%> 
   	</div>
  </div>
  <div class='main'>
   	 <%= yield %>   	
  </div>
</body>
</html>

